body{
    background-color: #111A36;
    font-family:'Poppins', sans-serif;
}

.bio{
    color:white;
}

.experience{
    color: #5BE8D4;
}

.hello{
    font-size: 4rem;
}

h1{
    color: white;
}

.job-dates{
    font-size: 0.8rem;
}

.job-description{
    font-size: 0.8rem;
    color: white;
}

.technologies-used{
    color: #5BE8D4;
    font-size: 0.5rem;
}



